{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Schoolink Demo</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script src="{% static '/js/demo-rtl.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/libs/nanoscroller.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/libs/dropzone.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/compiled/theme_styles.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/libs/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/libs/nifty-component.css' %}"/>
<link rel="stylesheet" href="{% static 'css/libs/datepicker.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/libs/daterangepicker.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/libs/bootstrap-timepicker.css' %}" type="text/css"/>

<link rel="stylesheet" type="text/css" href="{% static 'css/libs/dropzone.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/libs/magnific-popup.css' %}">

 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap4.min.css">


<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css"> -->

<link rel="stylesheet" href="{% static 'css/images-grid.css' %}">

<link type="image/x-icon" href="{% static 'favicon.png' %}" rel="shortcut icon"/>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">

<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert2.css' %}">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAMeJUQk8P8dPVG_WBeHNnQbDUTXYTuxg&libraries=places&language=en"></script>

<script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons",
    image_advtab: true,
    templates: [
        {title: 'Test template 1', content: 'Test 1'},
        {title: 'Test template 2', content: 'Test 2'}
    ]
});
</script>
<style>

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }


       /*#pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }*/

      #pac-input:focus {
        border-color: #4d90fe;
      }

#lightbox .modal-content {
    display: inline-block;
    text-align: center;
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    z-index:1032;
}


#infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }



      /*#pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }*/

      #pac-input:focus {
        border-color: #4d90fe;
      }


.select2-container {
width: 100% !important;
padding: 0;
}
</style>
<div id="theme-wrapper">
   <header class="navbar" id="header-navbar">
      <div class="container">
          <a href="" id="logo" class="navbar-brand">
            <img src="{% static 'img/logo.png' %}" alt="" class="normal-logo logo-white"/>
            <img src="{% static 'img/logo-black.png' %}" alt="" class="normal-logo logo-black"/> <img src="{% static 'img/logo-small.png' %}" alt="" class="small-logo hidden-xs hidden-sm hidden"/>
          </a>
            <div class="clearfix">
                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                    <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                        <ul class="nav navbar-nav pull-left">
                            <li>
                              <a class="btn" id="make-small-nav">
                                <i class="fa fa-bars"></i>
                              </a>
                            </li>
                        </ul>
                            </div>
                            <div class="nav-no-collapse pull-right" id="header-nav">
                                <ul class="nav navbar-nav pull-right">
                                    <li class="dropdown profile-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                           <img src="{% static 'info/demo.png' %}" alt=""/>
                                            <span class="hidden-xs"></span>Schoolink Demo<b class="caret"></b>
                                           
                                           <!-- /*<span class="hidden-xs">Schoolink Demo</span> <b class="caret"></b> -->
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-user"></i>Profile
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-lock" aria-hidden="true">
                                                    </i>Change Password
                                                </a>
                                            </li>
                                            <li>
                                                <a href="<?php echo base_url('Logout');?>">
                                                    <i class="fa fa-power-off">
                                                    </i>Logout
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                        <li class="hidden-xxs">
                                            <a class="btn" href="<?php echo base_url('Logout');?>" title="Logout">
                                                <i class="fa fa-power-off">
                                                </i>
                                            </a>
                                        </li>
                                </ul>
                            </div>
                       </div>
                </div>
      </header>
    </head>
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        <div id="user-left-box" class="clearfix hidden-sm hidden-xs">
                            <img alt="" src="{% static 'info/demo.png' %}"/>
                            <div class="user-box">
                                <span class="name"></span>
                                <span class="name">Schoolink Demo</span>
                            </div>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                            <ul class="nav nav-pills nav-stacked">
                                <li  class=''>
                                    <a href="">
                                        <i class="fa fa-dashboard"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li class=''>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-sticky-note"></i>
                                            <span>Classes</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu" >
                                        <li class=''>
                                            <a href="http://localhost:8000/user/createClass">
                                                <i class="fa fa-pencil-square-o"> </i> Create Classes
                                            </a>
                                        </li>
                                        <li class=''>
                                            <a href="http://localhost:8000/user/classList">
                                                <i class="fa fa-eye fa-lg"></i> View Classes
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    {% block content %}
        

    {% endblock %}
    <script src="{% static 'js/demo-skin-changer.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.nanoscroller.min.js' %}"></script>
    <script src="{% static 'js/demo.js' %}"></script>
    <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/daterangepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/hogan.js' %}"></script>
    <script src="{% static 'js/typeahead.min.js' %}"></script>
    <script src="{% static 'js/jquery.pwstrength.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/modalEffects.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
    <script src="{% static 'js/dropzone.js' %}"></script>
    <script src="{% static 'js/custom-footer.js' %}"></script>
    <script src="{% static 'js/holder.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/images-grid.js' %}"></script>
    <script src="{% static 'js/jquery.loading.block.js' %}"></script>
    <script src="{% static 'js/sweetalert2.js' %}"></script>

    <!-- <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script> -->

    <script type="text/javascript">

        $('select').select2();

    </script>
    <script>
        var input = document.getElementById('pac-input');
        var autocomplete = new google.maps.places.Autocomplete(input);
    </script>



    <script>
      var input = document.getElementById('pac-input1');
      var autocomplete = new google.maps.places.Autocomplete(input);
    </script>
</body>
</html>
<script>$(document).ready(function(){$('#notification_read_trigger').click(function(){});});
</script>