{% load static %}
<script src="{% static 'js/demo-skin-changer.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.nanoscroller.min.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/bootstrap-timepicker.min.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/hogan.js' %}"></script>
<script src="{% static 'js/typeahead.min.js' %}"></script>
<script src="{% static 'js/jquery.pwstrength.js' %}"></script>
<script src="{% static 'js/modernizr.custom.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/modalEffects.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/pace.min.js' %}"></script>
<script src="{% static 'js/dropzone.js' %}"></script>
<script src="{% static 'js/custom-footer.js' %}"></script>
<script src="{% static 'js/holder.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/images-grid.js' %}"></script>
<script src="{% static 'js/jquery.loading.block.js' %}"></script>
<script src="{% static 'js/sweetalert2.js' %}"></script>

<!-- <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script> -->

<script type="text/javascript">

      $('select').select2();

</script>
<script>
      var input = document.getElementById('pac-input');
      var autocomplete = new google.maps.places.Autocomplete(input);
</script>



    <script>
      var input = document.getElementById('pac-input1');
      var autocomplete = new google.maps.places.Autocomplete(input);
    </script>







</body>
</html>
<script>$(document).ready(function(){$('#notification_read_trigger').click(function(){});});
</script>